<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tistory.codingtrainee.mapper.BoardMapper">
	<!-- 테이블 내 전체 내용을 조회한다 -->
	<select id="viewAll" resultType="com.tistory.codingtrainee.domain.BoardVO">
		select * from userboard order by signup_date
	</select>
</mapper>